<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <br>
      <h3>Watch the address bar.</h3>
      <p>Create GET requests using the address bar.</p>
      <hr>
      <h3>During development, test your api here. </h3>
      <br>

      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/User/findall">http://localhost:8089/User/findall</a>
        </li>
        <li> <a href="http://localhost:8089/User/findone/1238">http://localhost:8089/User/findone/1238</a>
        </li>
        <li> <a href="http://localhost:8089/User/findone/1235">http://localhost:8089/User/findone/1235</a>
        </li>
        <li> <a href="http://localhost:8089/User/findone/1232">http://localhost:8089/User/findone/1232</a>
        </li>
        <li> <a href="http://localhost:8089/User/findone/1237">http://localhost:8089/User/findone/1237</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/User">http://localhost:8089/User</a>
        </li>
        <li>
          <a href="http://localhost:8089/User/create">http://localhost:8089/User/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/User/edit/1238">http://localhost:8089/User/edit/1238</a>
        </li>
        <li>
          <a href="http://localhost:8089/User/edit/1235">http://localhost:8089/User/edit/1235</a>
        </li>
        <li>
          <a href="http://localhost:8089/User/edit/1232">http://localhost:8089/User/edit/1232</a>
        </li>

        <li>
          <a href="http://localhost:8089/User/delete/1237">http://localhost:8089/User/delete/1237</a>
        </li>
        <li>
          <a href="http://localhost:8089/User/delete/1235">http://localhost:8089/User/delete/1235</a>
        </li>
        <li>
          <a href="http://localhost:8089/User/delete/1238">http://localhost:8089/User/delete/1238</a>
        </li>

        <li>
          <a href="http://localhost:8089/User/details/1237">http://localhost:8089/User/details/1237</a>
        </li>
        <li>
          <a href="http://localhost:8089/User/details/1238">http://localhost:8089/User/details/1238</a>
        </li>
        <li>
          <a href="http://localhost:8089/User/details/1232">http://localhost:8089/User/details/1232</a>
        </li>

      </ol>


      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/Transaction/findall">http://localhost:8089/Transaction/findall</a>
        </li>
        <li> <a href="http://localhost:8089/Transaction/findone/2012">http://localhost:8089/Transaction/findone/1</a>
        </li>
        <li> <a href="http://localhost:8089/Transaction/findone/91">http://localhost:8089/Transaction/findone/91</a>
        </li>
        <li> <a href="http://localhost:8089/Transaction/findone/92">http://localhost:8089/Transaction/findone/92</a>
        </li>
        <li> <a href="http://localhost:8089/Transaction/findone/93">http://localhost:8089/Transaction/findone/93</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/Transaction">http://localhost:8089/Transaction</a>
        </li>
        <li>
          <a href="http://localhost:8089/Transaction/create">http://localhost:8089/Transaction/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/Transaction/edit/2012">http://localhost:8089/Transaction/edit/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/Transaction/edit/92">http://localhost:8089/Transaction/edit/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/Transaction/edit/93">http://localhost:8089/Transaction/edit/93</a>
        </li>

        <li>
          <a href="http://localhost:8089/Transaction/delete/2012">http://localhost:8089/Transaction/delete/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/Transaction/delete/92">http://localhost:8089/Transaction/delete/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/Transaction/delete/93">http://localhost:8089/Transaction/delete/93</a>
        </li>

        <li>
          <a href="http://localhost:8089/Transaction/details/2012">http://localhost:8089/Transaction/details/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/Transaction/details/92">http://localhost:8089/Transaction/details/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/Transaction/details/93">http://localhost:8089/Transaction/details/93</a>
        </li>

      </ol>


      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/account">http://localhost:8089/account</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/create">http://localhost:8089/account/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/edit/104">http://localhost:8089/account/edit/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/edit/92">http://localhost:8089/account/edit/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/edit/93">http://localhost:8089/account/edit/93</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/delete/104">http://localhost:8089/account/delete/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/delete/92">http://localhost:8089/account/delete/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/delete/93">http://localhost:8089/account/delete/93</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/details/104">http://localhost:8089/account/details/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/details/92">http://localhost:8089/account/details/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/details/93">http://localhost:8089/account/details/93</a>
        </li>

      </ol>



      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/category">http://localhost:8089/category</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/create">http://localhost:8089/category/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/category/edit/1004">http://localhost:8089/category/edit/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/edit/92">http://localhost:8089/category/edit/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/edit/93">http://localhost:8089/category/edit/93</a>
        </li>

        <li>
          <a href="http://localhost:8089/category/delete/1004">http://localhost:8089/category/delete/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/delete/92">http://localhost:8089/category/delete/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/delete/93">http://localhost:8089/category/delete/93</a>
        </li>

        <li>
          <a href="http://localhost:8089/category/details/1004">http://localhost:8089/category/details/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/details/92">http://localhost:8089/category/details/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/details/93">http://localhost:8089/category/details/93</a>
        </li>

      </ol>

    </div>
  </div>
</div>