<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Chatur veda vyas </h1>
      <h2> <a href=https://github.com/chaturkurma> GitHub </a></h2>
      <h2> <a href=https://bitbucket.org/chaturkurma> bitbucket </a></h2>
     <a href =  "https://chaturkurma.github.io/About-Me/">Github profile</a>

      <br>
      <br>
    </div>
  </div>
</div>