<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">


      <h1> Ganesh Siripuram </h1>
      <h2> <a href=https://ganesh58.github.io/aboutme> GitHub profile </a></h2>
      <h2> <a href=https://bitbucket.org/ganesh5800> bitbucket </a></h2>
     <a href = "https://ganesh58.github.io/aboutme/ ">Github profile</a>
    <br>
      <br>   
    </div>
  </div>
</div>